# Auto detect text files and normalize EOL to LF
* text=auto

*.zip binary

*.json text linguist-language=JSON-with-comments

llms.txt text linguist-language=Markdown

*.png filter=lfs diff=lfs merge=lfs -text
