# Auto detect text files and normalize EOL to LF
* text=auto eol=lf

*.zip binary
.pnp.cjs linguist-vendored
.pnp.loader.mjs linguist-vendored
.yarn/releases/* linguist-vendored
.yarn/plugins/* linguist-vendored
.yarn/sdks/* linguist-vendored
