.git/
.github/
.vscode/
node_modules/
src/
out/desktop/**/*.map
out/web/**/*.map
tsconfig.json
tsconfig.node.json
tsup.config.ts
.gitignore
.prettierrc.yaml
.prettierignore
.editorconfig
.npmrc
.node-version
vitest.config.ts
jest.config.js
**/*.ts
**/*.map
**/.DS_Store
