name: Main

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, ready_for_review, reopened, synchronize]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-$${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Run Checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: pnpm
          node-version-file: .node-version

      - name: Install dependencies
        run: pnpm bootstrap

      - name: Lint
        run: pnpm lint

      - name: Run tests
        run: pnpm test

      - name: Run web tests
        run: pnpm test:web

      - name: Build
        run: pnpm build
